<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246849192575-os4jd574ho2j55frp4uoges675kq7k87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246849192575-os4jd574ho2j55frp4uoges675kq7k87</string>
	<key>API_KEY</key>
	<string>AIzaSyDfVsnGYDgFbvG_l-dwTNZ0OAhHbEnfiuo</string>
	<key>GCM_SENDER_ID</key>
	<string>246849192575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.DailyPantry-cs329E</string>
	<key>PROJECT_ID</key>
	<string>dailypantry-ef770</string>
	<key>STORAGE_BUCKET</key>
	<string>dailypantry-ef770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246849192575:ios:e8e052518d8d96fed5b54a</string>
</dict>
</plist>